@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* End CSS Reset */
.conteiner{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: auto;
    grid-template-rows: 0.1fr auto 0.2fr;
    /* min-width: 100vw; */
    min-height: 100vh;
    /* min-width: 100vw; */
    background-color: #090545;
    font-family: "Manrope", sans-serif;
    /* font-optical-sizing: auto;
    font-style: normal; */
}
.navbar-ocult{
    display: none;
}
/* Estilos para o header */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #1D1D1D;
}

/* Estilos para os links */
.header-nav-desktop a {
    text-decoration: none; /* Remove a linha dos links */
    color: white; /* Define a cor do texto dos links */
    margin-right: 10px; /* Adiciona um pouco de espaço entre os links */
}

/* Remove a linha dos links */
.header-nav-desktop a:hover {
    text-decoration: none;
}

/* Dropdown Link */
.dropdown-link {
    text-decoration: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1D1D1D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightslategray}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para os botões de Login e Cadastro */
.login-btn, .signup-btn {
    background-color: #142D90; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 15px; /* Espaçamento interno */
    padding-left: 24px;
    margin-left: 10px; /* Espaçamento externo à esquerda */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove a linha dos links */
    display: inline-block; /* Permite que os botões sejam alinhados horizontalmente */
    font-size: 16px; /* Tamanho da fonte */
    margin-top: 10px; /* Espaçamento externo no topo */
    border-radius: 20px;
}
.signup-btn{
    background-color: white;
}
.signup-btn a{
    text-decoration: none;
    color: black;
}

/* Estilo para o botão de Login quando passado o mouse */
.login-btn:hover {
    background-color: lightseagreen;
}

/* Estilo para o botão de Cadastro quando passado o mouse */
.signup-btn:hover {
    background-color: lightgray;
}
/* END HEADER CSS STYLE */
/* ======================================================================================== */

/* ======================================================================================== */

/* Estilos para a .main */
.main {
    grid-area: main;
    display: flex; /* Aplica Flexbox */
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    max-width: 1200px; /* Define a largura máxima */
    margin-left: auto; /* Aplica margem automática à esquerda */
    margin-right: auto; /* Aplica margem automática à direita */
    padding: 20px; /* Adiciona um pouco de espaço interno */
}

/* Estilos para as divs dentro da .main */
.main > div {
    max-width: 80%; /* Reduz a largura das divs internas */
    width: 100%; /* Garante que a div ocupe toda a largura disponível */
}
/* Estilos para a div .first-row-apresentation */
.first-row-apresentation {
    display: flex;
    justify-content: space-between; /* Alinha os itens horizontalmente, com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente no centro */
    gap: 100px; /* Espaço entre os itens */
}
.first-row-apresentation button{
    background-color: #1D1D1D;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}
/* Estilos para a div .second-row-course-apresentation */
.second-row-course-apresentation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
}
.second-row-course-apresentation h1{
    font-weight: 400px;
    font-size: 28px;
}
/* Estilos para a div .second-row-apresentation */
.second-row-apresentation{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
/* Estilos para os cards dos cursos */
.course-card{
    background-color: white;
    color: black;
    margin: auto;
    padding: auto;
    width: 300px;
    height: 380px;
    text-align: center;
    border-radius: 20px;
}
.course-card img{
    width: 200px;
    height: 190px;
}
.ime-card img{
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100px;
    height: 120px;
}
.card-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
}
.card-content p{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.card-content span{
    font-weight: 50px;
    font-size: 14px;
}
.card-content button{
    background-color: #1D1D1D;
    color: white;
    border: none;
    padding: 5px;
    width: 80px;
    border-radius: 20px;  
    margin-top: 50px;
    cursor: pointer;
}
.card-content button a{
    text-decoration: none;
    color: white;
}
/* Estilos para o conteúdo de texto */
.text-content {
    display: flex;
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: flex-start; /* Alinha os itens verticalmente no início */
    color: white;
}
.text-content h1{
    font-weight: 400px;
    font-size: 32px;
    margin-bottom: 20px;
}
/* Estilos para o conteúdo da imagem */
.image-content img{
    border-radius: 20%;
    /* Estilos específicos para a imagem, se necessário */
}

/* Estilos para o ícone de lista */
.menu-toggle {
    display: none; /* Oculta o ícone de lista por padrão */
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
.footer{
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Adiciona um pouco de espaço ao redor */
    background-color: #1D1D1D;
}
.footer .icons-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

/* ====================================== *
/* LOGIN PAGE CSS STYLE */
/* ====================================== */
.login-page {
    width: 800px;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background-color: #1D1D1D;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-page .links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} 
.login-page .links a {
    color: #007bff;
    text-decoration: none;
}

.login-page .links a:hover {
    text-decoration: underline;
}
.login-page h2{
    color: white;
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
}
/* ====================================== *
/* CREATE ACCOUNT PAGE CSS STYLE */
/* ====================================== */
/* Estilos para a página de criação de conta */
.createacc-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1D1D1D;
    color: white;
    border-radius: 25px;
}

/* Estilos para o formulário */
.createacc-page form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

/* Estilos para os grupos de formulário */
.createacc-page .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estilos para os rótulos dos campos do formulário */
.createacc-page .form-group label {
    margin-bottom: 5px;
}

/* Estilos para os campos de entrada do formulário */
.createacc-page .form-group input {
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para o botão de envio do formulário */
.createacc-page form button {
    padding: 10px 20px;
    background-color: #142D90;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Estilo para o botão de envio do formulário quando passado o mouse */
.createacc-page form button:hover {
    background-color: #007bff;
}
/* Estilos para o link de login */
.createacc-page p a {
    color: #142D90; /* Cor do link */
    text-decoration: none; /* Remove a linha sublinhada */
}
.createacc-page p{
    margin-top: 15px;
}
.createacc-page h2{
    font-weight: bold;
    font-size: 24px;
}
/* Estilo para o link de login quando passado o mouse */
.createacc-page p a:hover {
    text-decoration: underline; /* Adiciona uma linha sublinhada ao passar o mouse */
}
/* ====================================== *
/* SUBSCRIPTION PAGE CSS STYLE */
/* ====================================== */
.subscription-page {
    display: flex;
    justify-content: space-around; /* Distribui os cards uniformemente */
    /* flex-wrap: wrap; Permite que os cards sejam dispostos em várias linhas */
    padding: 20px;
}
/* Estilos para a imagem dentro dos cards */
.subscription-card img {
    width: 80%;
    height: 30%;
    margin-bottom: 20px;
    color: white;
}
/* Estilos para os cards de assinatura */
.subscription-page .subscription-card {
    background-color: #1D1D1D;
    border-radius: 15px;
    padding: 50px;
    width: 100%; /* Define a largura dos cards */
    margin: 10px; /* Adiciona margem ao redor dos cards */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adiciona sombra ao card */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o botão de alternância */
.toggle-button-subscription {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Estilo para o botão de alternância quando passado o mouse */
.toggle-button-subscription:hover {
    background-color: #007bff;
}
/* Estilos para o interruptor de alternância */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 20px;
}

/* Estilos para o campo de entrada do tipo "checkbox" */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilos para o slider do interruptor */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

/* Estilos para o slider quando o interruptor está ativado */
.toggle-switch input:checked + .slider {
    background-color: #1D1D1D;
}

/* Estilos para o controle deslizante do interruptor */
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #007bff;
    transition: .4s;
}

/* Estilos para o controle deslizante quando o interruptor está ativado */
.toggle-switch input:checked + .slider:before {
    transform: translateX(26px);
}

/* Estilos para o controle deslizante quando o mouse passa sobre ele */
.slider:hover:before {
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}